---
layout: default
---
  
<div class="colorlib-loader"></div>

<div class="icon-bar">
    <a href="https://www.facebook.com/C%C3%B3mo-crear-mi-p%C3%A1gina-web-679986322428047/" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="https://www.instagram.com/tutienda.enlinea.mx/?hl=es-la" class="instagram"><i class="fa fa-instagram"></i></a> 
    <a href="https://wa.me/5215582324671" class="whatsapp"><i class="fa fa-whatsapp"></i></a> 
</div>

<div id="page">
  <nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <div id="colorlib-logo"><a href="index.html">Cómo crear Mí página web</a></div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6 text-right menu-1">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <!-- <li class="has-dropdown">
                <a href="blog.html">Blog</a>
                <ul class="dropdown">
                  <li><a href="single.html">Blog Single</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="#">Read</a></li>
                  <li><a href="#">Lifestyle</a></li>
                </ul>
              </li> -->
            <!-- 	<li><a href="event.html">Event</a></li>
              <li><a href="travel.html">Travel</a></li>
              <li><a href="about.html">About Me</a></li> -->
               <li><a href="precio.html">Precio</a></li>
               <li><a href="contact.html">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <aside id="colorlib-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(static/images/img_bg_1.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p class="meta">
                      <span class="cat"><a href="#">Posts</a></span>
                      <span class="date">13 de Junio 2019</span>
                      <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
                    </p>
                    <h1>Te ayudamos a crear tu web perfecta, con chat en vivo para acercarte aún mas con tus clientes.</h1>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(static/images/img_bg_2.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p class="meta">
                      <span class="cat"><a href="#">Posts</a></span>
                      <span class="date">13 de Junio 2019</span>
                      <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
                    </p>
                    <h1> Ofrecemos un paquete con tienda en linea sin cobrar comisión por venta.</h1>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(static/images/img_bg_3.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p class="meta">
                        <span class="cat"><a href="#">Posts</a></span>
                      <span class="date">13 de Junio 2019</span>
                      <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
                    </p>
                    <h1> Web moderna y optimizada para cualquier dispositivo.</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(static/images/img_bg_4.jpg);">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <p class="meta">
                        <span class="cat"><a href="#">Posts</a></span>
                      <span class="date">13 de Junio 2019</span>
                      <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
                    </p>
                    <h1>Nos interesa escucharte y ofrecerte el producto que necesitas.</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
  </aside>

  <div id="colorlib-container">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/chat_yellow.jpg" class="img-responsive" alt="chat en vivo">
            </div>
            <div class="desc">
              <p class="meta">
                  <span class="cat"><a href="#">Incluye</a></span>
                <span class="date">13 de Junio 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2>Chat en vivo</h2>
              <p>Servicio de chat en vivo, contesta desde la app en tú teléfono a tus clientes!! </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/blog-2.jpg" class="img-responsive" alt="diseño personalizado">
            </div>
            <div class="desc">
              <p class="meta">
                                  <span class="cat"><a href="#">Incluye</a></span>
                <span class="date">13 de Junio 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2>Diseño personalizado</h2>
              <p>Te ayudamos a que tú página web luzca espectacular.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/WhatsApp.jpg" class="img-responsive" alt="diseño personalizado">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Incluye</a></span>
                <span class="date">13 de Junio 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2>Conversación directa a tu whatsapp!</h2>
              <p>Tus clientes a un click de ti, te ayudamos a que tus clientes te 
                 localicen fácilmente a través de whatsApp. 
                 <strong>Prueba el botón!</strong></p>

               <a href="https://wa.me/5215582324671" class="whatsapp2"><i class="fa fa-whatsapp whatsPrueba"></i></a> 

            </div>
          </div>
        </div>
      </div>
      <div class="trabajosRecientes">
        <h1><span>T</span>rabajos recientes</h1>
      </div>
      
      <div class="row row-pb-md">
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/TuTienda.png" class="img-responsive" alt="html5 bootstrap template">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Tu Tienda En Linea</a></span>
                <span class="date">Junio 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Como crear tu página web</a></span>
              </p>
              <h2><a href="https://tutiendaenlinea.online">Tu Tienda En Linea</a></h2>
              <p>Empieza a vender hoy! </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/CMT.png" class="img-responsive" alt="html5 bootstrap template">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Trabajos Recientes</a></span>
                <span class="date">Junio 2019</span>
                <span class="pos">Por <a href="#">Tú Tienda En Linea</a></span>
              </p>
              <h2><a href="http://cmtgestoriaautomotriz.com">CMT</a></h2>
              <p>CMT Gestoría Automotriz Empresarial y Flotillas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/iCenter.png" class="img-responsive" alt="iCenter">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Trabajos Recientes</a></span>
                <span class="date">Junio 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2><a href="http://www.icentermexico.com/">iCenter Mexico</a></h2>
              <p>Centro especializado en reparación de productos Apple.</p>
            </div>
          </div>
        </div>
      </div>
        <div class="row row-pb-md">
         <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/GlabAbogados.png" class="img-responsive" alt="html5 bootstrap template">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Trabajos Recientes</a></span>
                <span class="date">Mayo 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2><a href="http://www.glababogados.com/">GLAB Abogados</a></h2>
              <p>Firma de abogados 100% Méxicana. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
             <div class="blog-img">
               <img src="static/images/acomer.png" class="img-responsive" alt="html5 bootstrap template">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Trabajos Recientes</a></span>
                <span class="date">Mayo 2019</span>
                <span class="pos">Por <a href="#">Tú Tienda En Linea</a></span>
              </p>
              <h2><a href="http://acomercializadora.com/">A comercializadora</a></h2>
              <p>Venta, reparación y mayoreo de piezas para productos Apple. </p>
            </div>
           </div>
        </div>
        <div class="col-md-4">
          <div class="blog-entry">
            <div class="blog-img">
              <img src="static/images/inacom.png" class="img-responsive" alt="inacom">
            </div>
            <div class="desc">
              <p class="meta">
                <span class="cat"><a href="#">Trabajos Recientes</a></span>
                <span class="date">Abril 2019</span>
                <span class="pos">Por <a href="https://tutiendaenlinea.online">Tú Tienda En Linea</a></span>
              </p>
              <h2><a href="http://www.inacom.com.mx/">INACOM de México</a></h2>
              <p>Canal especializado en técnologias de la información, provedor de tecnología de 
                   Wal-Mart, Liverpool, Cometra entre otros.</p>
             </div>
            </div>
         </div>
      </div>
    </div>
  </div>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

