
<!-- jQuery -->
<script src="static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="static/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="static/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="static/js/main.js"></script>

